{{ define "main" }}

{{ partial "navigation.html" . }}

{{ partial "banner.html" . }}

{{ partial "feature.html" . }}

{{ partial "cta.html" . }}

{{ partial "about.html" . }}

<!-- // TODO(sameet): enable later if required and implemented -->
{{/*  {{ partial "solutions.html" . }}  */}}

<!-- // TODO(sameet): enable later if required and implemented -->
{{/*  {{ partial "services.html" . }}  */}}

<!-- // TODO(sameet): enable later if required and implemented -->
{{/*  {{ partial "skills.html" . }}  */}}

<!-- // TODO(sameet): enable later if required and implemented -->
{{/*  {{ partial "team.html" . }}  */}}

<!-- // TODO(sameet): enable later if required and implemented -->
{{/*  {{ partial "testimonial.html" . }}  */}}

<!-- // TODO(sameet): enable later if required and implemented -->
{{/*  {{ partial "blog.html" . }}  */}}

{{ partial "contact.html" . }}

{{ partial "map.html" . }}

{{ end }}
